<section class="filters_and_sorting">
    <div>
        <button (click)="openCart()" class="open_cart_btn">Open Cart</button>
    </div>
    <div>
        <p>Filters: </p>
        <select [(ngModel)]="selectedCategory" (change)="applyFilters()">
            <option value="All Categories">All Categories</option>
            <option *ngFor="let category of categories">
              {{category["name"] | titlecase}}
            </option>
        </select>
        <select [(ngModel)]="selectedPriceComparison" (change)="applyFilters()">
            <option value="0">Any Price</option>
            <option value="1">&gt; 30000</option>
            <option value="2">&lt; 10000</option>
        </select>
        <select [(ngModel)]="selectedAvailability" (change)="applyFilters()">
            <option value="0">Any Product</option>
            <option value="1">Available</option>
            <option value="2">Best Sellers</option>
            <option value="3">Sold Out</option>
        </select>
    </div>
    <div>
        <p>Sort By:</p>
        <select [(ngModel)]="selectedSortMethod" (change)="sortStuff()">
            <option value="0">None</option>
            <option value="1">Lowest Price</option>
            <option value="2">Higher Price</option>
            <option value="3">Name</option>
        </select>
    </div>
</section>

<section class="stuff" *ngIf="renderCategories && renderProducts">
    <div *ngFor="let product of filterAppliedStuff">
        <img src="{{product['img']}}">
        <p class="name">{{product["name"] | titlecase}}</p>
        <p class="description">{{product["description"]}}</p>
        <p class="price">&#36;{{product["price"]}}</p>
        <button (click)="addToShoppingCart(product)">Add To Cart</button>
    </div>
</section>

<section class="shopping_cart" id="Modal" *ngIf="showCart">
    <div *ngFor="let product of shoppingCartProducts" id="Modal">
        <img src="{{product['img']}}">
        <p class="name">{{product["name"] | titlecase}}</p>
        <p class="description">{{product["description"]}}</p>
        <p class="price">Price: {{product["price"]}}</p>
        <button (click)="dropFromCart(product)">Drop From Cart</button>
    </div>
    <button (click)="closeCart()" class="close_cart_btn">Close</button>
</section>